*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
E:/Luis Clases/curso 2023-2024/Programacion/FirebaseListaCompra 
E:/Luis Clases/curso 2023-2024/Programacion/FirebaseListaCompra/ 
